* { margin: 0; padding: 0; }

canvas {
	width: 1400px; height: 800px;
	border-right: 1px solid black; border-bottom: 1px solid black;
}

#R {
	margin-right: 10px;
}
#G {
	margin-right: 10px;
}
#R {
	margin-right: 10px;
}




