* { margin: 0; padding: 0; }

canvas { border: 1px solid black; }

#size { position: absolute; background-color: blue; cursor: move; }

#layers {
	position: absolute; background-color: #7878ff;

	> a.add {
		display: inline-block; padding: 5px; background-color: #00b5ec; color: #ffffff; cursor: pointer;
		&:hover { background-color: #0097c4; }
	}

	> div.layers {
		> div {
			padding: 10px 5px;
			&.act { background-color: #008d35; }
		}
	}
}

input {
	position: absolute; top: 0; left: 1000px; display: inline-block; width: 100px; height: 30px;

	&[type="color"] { }
	&[type="range"] { top: 40px; }
}

select { position: absolute; top: 70px; left: 1000px; display: inline-block; width: 100px; height: 30px; }
